In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
train=pd.read_csv(r'C:\Users\13289\Desktop\pycharm\kaggle\Titanic\train.csv')
test=pd.read_csv(r'C:\Users\13289\Desktop\pycharm\kaggle\Titanic\test.csv')

In [2]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [8]:
train['Embarked'].fillna('S',inplace=True)

In [9]:
train['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [10]:
train['Age'].fillna(train['Age'].mean(),inplace=True)
test['Age'].fillna(test['Age'].mean(),inplace=True)

In [11]:
bins = pd.cut(train["Age"], bins=10) 
train["age_binned"] = pd.cut(train["Age"], bins=bins.cat.categories).astype(str)
test["age_binned"] = pd.cut(test["Age"], bins=bins.cat.categories).astype(str)

In [12]:
def assign_level(fare):
    if fare > 180:
        return 'High'
    else:
        return 'Low'

# 使用apply方法创建一个新的'fare_level'列
train['fare_level'] = train['Fare'].apply(assign_level)
test['fare_level'] = test['Fare'].apply(assign_level)

In [13]:
train1=train.drop(['Name','Ticket','Cabin','PassengerId','Fare','Age','Survived'],axis=1)
test1=test.drop(['Name','Ticket','Cabin','PassengerId','Fare','Age'],axis=1)
train_y=train['Survived']

In [14]:
from sklearn.feature_extraction import DictVectorizer
# 加载DictVectorizer模型
dv = DictVectorizer()
# 进行one-hot 编码
dv.fit(train1.T.to_dict().values())

DictVectorizer()

In [15]:
train_X=dv.transform(train1.T.to_dict().values())
test_X=dv.transform(test1.T.to_dict().values())

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
#通过交叉验证找到最佳参数
from sklearn.model_selection import GridSearchCV
knn_param_grid = {
    'n_neighbors': [i for i in range(1,10)],
    'weights': ['uniform', 'distance'],
    'metric': ['euclidean', 'manhattan']
}
knn_grid_search = GridSearchCV(estimator=knn, param_grid=knn_param_grid, cv=5)
knn_grid_search.fit(train_X, train_y)
print("最佳参数组合: ", knn_grid_search.best_params_)
print("最佳模型评分: ", knn_grid_search.best_score_)

最佳参数组合:  {'metric': 'manhattan', 'n_neighbors': 4, 'weights': 'uniform'}
最佳模型评分:  0.8170736300295024

In [17]:
knn = KNeighborsClassifier(**knn_grid_search.best_params_)
knn.fit(train_X, train_y)
knn_pred_y= knn.predict(test_X)

In [18]:
pred=pd.read_csv(r'C:\Users\13289\Desktop\pycharm\kaggle\Titanic\gender_submission.csv')
pred.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [19]:
pred['Survived']=knn_pred_y
pred.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [20]:
pred.to_csv('example.csv', index=False)

In [23]:
from sklearn.svm import SVC
#使用交叉验证找到最佳参数
from sklearn.model_selection import GridSearchCV
for i in ["linear","poly","rbf","sigmoid"]:
    svm=SVC(kernel=i)
    svm_param_grid = {
        'C':[0.1,1,10]
    }
    svm_grid_search = GridSearchCV(estimator=svm, param_grid=svm_param_grid, cv=5)
    svm_grid_search.fit(train_X, train_y)
    print("最佳参数组合: ",i,",", svm_grid_search.best_params_)
    print("最佳模型评分: ", svm_grid_search.best_score_)

最佳参数组合:  linear , {'C': 1}
最佳模型评分:  0.7957190383528968
最佳参数组合:  poly , {'C': 1}
最佳模型评分:  0.8193082669010107
最佳参数组合:  rbf , {'C': 1}
最佳模型评分:  0.8260372857949909
最佳参数组合:  sigmoid , {'C': 0.1}
最佳模型评分:  0.7744021090954742

In [24]:
svm = SVC(kernel= 'rbf',C=1)
svm.fit(train_X, train_y)
svm_pred=svm.predict(test_X)

In [25]:
pred['Survived']=svm_pred
pred.to_csv('examplesvm.csv', index=False)

In [27]:
from sklearn.ensemble import RandomForestClassifier
param_grid = {'n_estimators': [100, 200, 300], 'max_depth': [None, 5, 10]}
# 使用交叉验证寻找最优参数
grid_search = GridSearchCV(RandomForestClassifier(), param_grid, cv=5)
grid_search.fit(train_X, train_y)
# 打印最优参数和得分
print("最优参数: ", grid_search.best_params_)
print("交叉验证得分: ", grid_search.best_score_)

最优参数:  {'max_depth': 5, 'n_estimators': 200}
交叉验证得分:  0.8260247316552635

In [29]:
from sklearn.ensemble import AdaBoostClassifier
# 定义参数空间
param_grid = {'n_estimators': [50, 100, 200], 'learning_rate': [0.1, 1, 10]}
# 使用交叉验证寻找最优参数
grid_search = GridSearchCV(AdaBoostClassifier(), param_grid, cv=5)
grid_search.fit(train_X, train_y)
# 打印最优参数和得分
print("最优参数: ", grid_search.best_params_)
print("交叉验证得分: ", grid_search.best_score_)

最优参数:  {'learning_rate': 0.1, 'n_estimators': 200}
交叉验证得分:  0.80585022911305

In [30]:
from sklearn.ensemble import GradientBoostingClassifier
# 定义参数空间
param_grid = {'n_estimators': [100, 200], 'learning_rate': [1.0], 'max_depth': [3,7]}
# 使用交叉验证寻找最优参数
grid_search = GridSearchCV(GradientBoostingClassifier(), param_grid, cv=3)
grid_search.fit(train_X, train_y)
# 打印最优参数和得分
print("最优参数: ", grid_search.best_params_)
print("交叉验证得分: ", grid_search.best_score_)

最优参数:  {'learning_rate': 1.0, 'max_depth': 7, 'n_estimators': 200}
交叉验证得分:  0.7890011223344556

In [35]:
from sklearn.ensemble import StackingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
# 创建基模型
base_models = [
    ('dt', DecisionTreeClassifier()),
    ('rf', RandomForestClassifier()),
    ('knn', KNeighborsClassifier(3)),
    ('svc', SVC())
]

# 创建元模型
meta_model = DecisionTreeClassifier()

# 创建Stacking模型
stacking_model = StackingClassifier(estimators=base_models,final_estimator=meta_model,cv=3)

# 使用Stacking模型进行训练和预测
stacking_model.fit(train_X, train_y)
y_pred = stacking_model.predict(test_X)

In [36]:
pred['Survived']=y_pred
pred.to_csv('examplesvm2.csv', index=False)

In [37]:
from sklearn import tree
# 决策树分类
decision_tree= tree.DecisionTreeClassifier()
#通过交叉验证找到最佳参数
from sklearn.model_selection import GridSearchCV
tree_param_grid = {
    'max_depth': [i for i in range(1,20)],
    'min_samples_split': [i for i in range(1,10)],
    'min_samples_leaf': [i for i in range(1,5)]
}
tree_grid_search = GridSearchCV(estimator=decision_tree, param_grid=tree_param_grid, cv=5)
tree_grid_search.fit(train_X, train_y)
print("最佳参数组合: ", tree_grid_search.best_params_)
print("最佳模型评分: ", tree_grid_search.best_score_)

最佳参数组合:  {'max_depth': 5, 'min_samples_leaf': 3, 'min_samples_split': 2}
最佳模型评分:  0.8249262444291003

In [38]:
decision_tree = tree.DecisionTreeClassifier(**tree_grid_search.best_params_)
# 拟合数据
decision_tree.fit(train_X, train_y)
# 在测试集上进行预测
tree_pred= decision_tree.predict(test_X)

In [39]:
pred['Survived']=tree_pred
pred.to_csv('examplesvm4.csv', index=False)